.footer {
  box-sizing: border-box;
  width: 100%;
  font-size: .85em;
  display: flex;
  padding-top: .5em;
  padding-bottom: .5em;
  flex-direction: row-reverse;
  padding-right: 1em;
  color: rgb(0, 180, 255);
  background-color: rgb(102, 19, 104);
  position: relative;
}
